<div class="col-auto">
  <div class="row">
    {{#each posts as |post|}}
      {{> post-info post}}
    {{/each}}
  </div>
  <div class="row">
    <button type="text" class="my-3 btn btn-primary w-100" onclick="goToNewPostForm()"><i class="fas fa-plus plus-icon"></i><span>  New Post</span></button>
  </div>
</div>

<script>
  function goToNewPostForm() {
    document.location.replace('/dashboard/new');
  }
</script>