<div class="card w-100">
  <div class="card-header">
    <h4>Login</h4>
  </div>
  <div class="card-body">
    <form class="login-form">
      <div class="form-group">
        <label for="username-login">Username</label>
        <input type="text" class="form-control p-2" id="username-login">
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input type="password" class="form-control p-2" id="password-login">
      </div>
      <button type="submit" class="btn btn-primary">LOGIN</button>
      <p>New blogger? <a href="/signup" class="card-link">Sign up instead</a></p>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>