
body {
  font-size: 20px;
  color: #212529;
  /*font-family: 'Lora', 'Times New Roman', serif;*/
}

.tech {
  font-family: 'Monoton', cursive;
}

#mainNav {
  text-shadow: 2px 2px 3px white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: url("../img/Blogging_002sm.jpg");
  background-size: cover;
  /*z-index: 9999;*/
}

#mainNav .navbar-brand {
  font-size: 35px;
  font-weight: 600;
  color: #343a40;
}

#mainNav .navbar-toggler {
  /*font-size: 20px;*/
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
  /*font-size: 20px;*/
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header {
  padding: 200px 200px 300px 200px;
  margin-bottom: 50px;
  background: no-repeat center center;
  background-attachment: scroll;
  /*position: relative;*/
  background-size: cover;
  background-image: url("../img/Blogging_001sm.jpg");
}