* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tech {
  font-family: 'Monoton', cursive;
}

#mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 2px 2px 3px white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /*background: no-repeat top center;*/
  background-image: url("../img/Blogging_003.jpg");
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
}

#mainNav .navbar-brand {
  font-size: 45px;
  font-weight: 600;
  /*color: #343a40;*/
}

#mainNav .navbar-toggler {
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  /*color: #343a40;*/
}

#mainNav .navbar-nav li.nav-item a {
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#whatSnew {
  display: none;
  background-image: url("../img/Blogging_004.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: top center;
  color: transparent;
  height: 500px;
  max-width: 100%;
  /*background: no-repeat center center;*/
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

a {
  color: #212529;
  transition: all 0.2s;
}

a:focus, a:hover {
  text-decoration: none;
  color: #81bf3a;
}

.post-preview {
  margin: 0;
  padding: 0;
}

.post-title {
  font-size: 30px;
}

.post-text {
  font-weight: 300;
}

.meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.comment {
  border-left: 1px solid;
}

.comment-area {
  border: 1px solid #197d0f;
  box-shadow: 2px 2px 3px #197d0f;
}

.comment-area:hover, .comment-area:focus {
  border: 2px solid #81bf3a;
  box-shadow: 2px 2px 3px #81bf3a;
}

textarea {
  border-radius: 5px;
}

textarea:hover, input:hover {
  box-shadow: 2px 2px 3px #197d0f;
}

.new-post-title {
  border: none;
  border-bottom: 1px solid;
}

.edit-link {
  font-size: 22px;
  font-style: italic;
  margin-top: 0;
  color: #197d0f;
}

ul {
  list-style-type: square;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}